SpotifyAutoSink/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SpotifyAutoSink"
		},
		"Spotify_AzureSqlDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Spotify_AzureSqlDatabase'"
		},
		"Spotify_DataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Spotify_DataLakeStorage'"
		},
		"Spotify_AzureSqlDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "spotifysql.database.windows.net"
		},
		"Spotify_AzureSqlDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "spotifyazuredatabase"
		},
		"Spotify_AzureSqlDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminsefu"
		},
		"Spotify_DataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://spotifyazaccount.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Spotify_AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Spotify_AzureSqlDatabase_properties_typeProperties_server')]",
					"database": "[parameters('Spotify_AzureSqlDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Spotify_AzureSqlDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Spotify_AzureSqlDatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Spotify_DataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Spotify_DataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Spotify_DataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Spotify_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Spotify_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Spotify_DataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Spotify_DataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Spotify_DataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Spotify_DataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incremental_Ingestion_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AzureSQLToLake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lookup_cdc",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "current",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n'SELECT * FROM ',\npipeline().parameters.schema,\n'.',\npipeline().parameters.table,\n' WHERE ',\npipeline().parameters.cdc_col,\n' > ''',\nif(\nempty(activity('lookup_cdc').output.firstRow.cdc),\n'1900-01-01 00:00:00',\nactivity('lookup_cdc').output.firstRow.cdc\n),\n''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Azure_Sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"directory": {
										"value": "@{pipeline().parameters.table}_Sink",
										"type": "Expression"
									},
									"file": {
										"value": "@concat(pipeline().parameters.table,'_',variables('current'))",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "lookup_cdc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"directory": {
										"value": "@concat(toLower(pipeline().parameters.table),'_cdc')",
										"type": "Expression"
									},
									"filename": {
										"value": "@concat(toLower(pipeline().parameters.table),'_cdc.json')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "current",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "current",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "if_incremental_load",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "AzureSQLToLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('AzureSQLToLake').output.dataRead,0 )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "DeleteEmptyFile",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Parquet_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"directory": {
													"value": "@pipeline().parameters.table",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(pipeline().parameters.table,'_',variables('current'))",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "max_cdc",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "Spotify_AzureSqlDatabase",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat(\n'select max(',\npipeline().parameters.cdc_col,\n') as cdc from ',\npipeline().parameters.schema,\n'.',\npipeline().parameters.table\n)",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "update last_cdc",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "max_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc",
													"value": {
														"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"directory": {
													"value": "@{pipeline().parameters.table}_cdc",
													"type": "Expression"
												},
												"filename": "empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"directory": {
													"value": "@{pipeline().parameters.table}_cdc",
													"type": "Expression"
												},
												"filename": {
													"value": "@concat(toLower(pipeline().parameters.table),'_cdc.json')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "copy_dimdate_full_load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.DimDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Azure_Sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"directory": "DimDate_Sink",
									"file": "DimDate.parquet"
								}
							}
						]
					},
					{
						"name": "DeleteDimDateEmptyFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_dimdate_full_load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parquet_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"directory": {
										"value": "@pipeline().parameters.table",
										"type": "Expression"
									},
									"file": {
										"value": "@concat(pipeline().parameters.table,'_',variables('current'))",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"cdc_col": {
						"type": "string"
					},
					"from_date": {
						"type": "string"
					}
				},
				"variables": {
					"current": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Sql')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/Json_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/Spotify_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incremental_Loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.loop_input",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "lookup_cdc",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "Json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"directory": {
													"value": "@concat(toLower(item().table),'_cdc')",
													"type": "Expression"
												},
												"filename": "@concat(toLower(item().table),'_cdc.json')"
											}
										}
									}
								},
								{
									"name": "current",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AzureSQLToLake",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "lookup_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "current",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n'SELECT * FROM ',\nitem().schema,\n'.',\nitem().table,\nif(\nempty(item().cdc_col),\n'',\nconcat(\n' WHERE ',\nitem().cdc_col,\n' > ''',\nif(\nempty(activity('lookup_cdc').output.firstRow.cdc),\n'1900-01-01 00:00:00',\nactivity('lookup_cdc').output.firstRow.cdc\n),\n''''\n)\n)\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Azure_Sql",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"directory": {
													"value": "@concat(item().table,'_Sink')",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(item().table,'_',variables('current'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "if_incremental_load",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "AzureSQLToLake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('AzureSQLToLake').output.dataRead,0 )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "DeleteEmptyFile",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "Parquet_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"directory": {
																"value": "@item().table",
																"type": "Expression"
															},
															"file": {
																"value": "@concat(item().table,'_',variables('current'))",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "max_cdc",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "Spotify_AzureSqlDatabase",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "@concat(\n'select max(',\nitem().cdc_col,\n') as cdc from ',\nitem().schema,\n'.',\nitem().table\n)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "update last_cdc",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "max_cdc",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "dimuser_cdc",
																"value": {
																	"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "Json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"directory": {
																"value": "@concat(toLower(item().table),'_cdc')",
																"type": "Expression"
															},
															"filename": "empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"directory": {
																"value": "@concat(toLower(item().table),'_cdc')",
																"type": "Expression"
															},
															"filename": "@concat(toLower(item().table),'_cdc.json')"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "copy_dimdate_full_load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.DimDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Azure_Sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"directory": "DimDate_Sink",
									"file": "DimDate.parquet"
								}
							}
						]
					},
					{
						"name": "DeleteDimDateEmptyFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_dimdate_full_load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parquet_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"directory": {
										"value": "DimDate_Sink",
										"type": "Expression"
									},
									"file": {
										"value": "DimDate.parquet",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"loop_input": {
						"type": "array",
						"defaultValue": [
							{
								"schema": "dbo",
								"table": "DimUser",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimTrack",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimArtist",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "FactStream",
								"cdc_col": "stream_timestamp",
								"from_date": ""
							}
						]
					}
				},
				"variables": {
					"current": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azure_Sql')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/Json_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/Spotify_AzureSqlDatabase')]"
			]
		}
	]
}